body {
  background: #987866;
  height: 100vh;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; }
  body #totopicon {
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: #293372; }
  body .wrapper {
    width: 900px;
    box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
    margin: 40px auto;
    border-radius: 5px;
    padding: 40px; }
    body .wrapper div#menu-wrapper ul.menu {
      list-style: none;
      display: flex;
      justify-content: center;
      margin: 20px 0px; }
      body .wrapper div#menu-wrapper ul.menu li.menu-item {
        padding: 5px 15px;
        font-weight: bold;
        font-size: 20px; }
        body .wrapper div#menu-wrapper ul.menu li.menu-item a {
          text-decoration: none;
          color: #293372; }
    body .wrapper .content {
      margin-top: 100px; }
    body .wrapper div#logo {
      justify-content: center;
      display: flex; }
      body .wrapper div#logo img {
        width: 150px; }
    body .wrapper div#team,
    body .wrapper div#contact {
      margin-top: 100px; }
    body .wrapper div#partner {
      margin-top: 100px; }
      body .wrapper div#partner img {
        width: 300px; }
    body .wrapper .title {
      font-size: 32px;
      font-weight: bold; }
    body .wrapper .description {
      font-size: 18px;
      text-align: justify;
      line-height: 28px;
      letter-spacing: 0.5px; }

@media only screen and (max-width: 1280px) {
  .wrapper {
    width: 80% !important; } }

@media only screen and (max-width: 900px) {
  div#menu-wrapper {
    display: none !important; } }

@media only screen and (max-width: 600px) {
  div#menu-wrapper {
    display: none !important; }
  body {
    background-color: white !important; }
  .wrapper {
    margin: 0 auto !important; } }

@media only screen and (max-width: 400px) {
  html {
    overflow-x: hidden; }
  div#team img {
    width: 100% !important; } }
